<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="Name">Name</label>
  <input type="text" name="name" id="landmark[name]" value="<%= @landmark.name %>">

  <label for="Year Completed">Year Completed</label>
  <input type="text" name="year_completed" id="landmark[year_completed]" value="<%= @landmark.year_completed %>">

  <input type="submit" value="Edit Landmark">

</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
