<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |l| %>
  <a href="/landmarks/<%=l.id%>"><%=l.name%></a><br>
  <%=l.year_completed%><br>

<%end%>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
