<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">

  <label for="Name">Name</label>
  <input type="text" name="landmark_name" id="landmark[name]">

  <label for="Year Completed">Year Completed</label>
  <input type="text" name="landmark_year_completed" id="landmark[year_completed]">

  <input type="submit" value="Create New Landmark">

</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
