<h2>Edit Figure</h2>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <lable>Name</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>"><br>



  <br>
  <input type="submit" value="Edit Figure">
</form>
